
.demo-app-main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}


a.fc-col-header-cell-cushion {
  text-decoration: none;
  color: var(--bs--secondary)
}
/* .fc-theme-standard {
  color:var( grey);
}

.fc-button-primary {
  background-color: var(--fc-button-bg-color);
  border-color: var(--secondary);
  color: var(--fc-button-text-color);
}
 */

/*  button.fc-today-button.fc-button.fc-button-primary {
  background-color: grey;
}
 */
