header  {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
 }


i {
  color: white;
 }

tr {
  vertical-align: bottom;
  background-color: var(--transporte);
  color: white;
}

.botones {
 display: flex;

}
