.row {
  margin: 60px auto;
  max-width: 900px;
  display: flex;
}


app-graf-traslados, app-graf-tipo-visita {
  padding: 20px;
  margin: 30px auto;
 }


/*  .container {
  position: relative;
  height:40vh;
  width: 80vw;
 }
 */
