//estilos leafletjs
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

@import '../node_modules/ngx-toastr/toastr.css';


:root{
  --transporte:   #a20909;
  --bs-link-hover-color-rgb: $primary;
  --semiblanc: #ffffff9d;
}



$primary:      #a20909;



$theme-colors: (
  "primary":    $primary,
  // "secondary":  $secondary,
  // "success":    $success,
  // "info":       $info,
  // "warning":    $warning,
  // "danger":     $danger,
  // "light":      $light,
  // "dark":       $dark

);



//estilos bootstrap
@import 'bootstrap/scss/bootstrap.scss';
