//estilos leafletjs
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

@import '../node_modules/ngx-toastr/toastr.css';




:root{
  --transporte:   #a20909;
  --bs-link-hover-color-rgb: $primary;
  --semiblanc: #ffffff9d;
}


$primary:      #a20909;
$secondary:    #696464;
$success:      #0c6a3e;
$info:         #0dcaf0;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #cacaca;
$dark:         #363636;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark

);


//estilos bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';


@import 'bootstrap-icons/font/bootstrap-icons.scss';

