<app-progress *ngIf="loading" />
<div *ngIf="!loading" class="row mt-5">
  <div class="col-4 offset-4">
    <div class="card bg-light mb-3" style="max-width: 25rem;">
      <div class="card-header text-center">{{ operacion }} paciente</div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="addPaciente()">

          <input formControlName="nombre" type="text" class="form-control mt-2"  placeholder="Nombre">
          <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
            El campo nombre <strong>es obligatorio</strong>
          </span>

          <input formControlName="apellidos" type="text" class="form-control mt-2"  placeholder="Apellidos">
          <span *ngIf="form.get('apellidos')?.hasError('required') && form.get('apellidos')?.touched">
            El campo apellidos <strong>es obligatorio</strong>
          </span>

          <input formControlName="dni" type="text" class="form-control mt-2"  placeholder="DNI">
          <span *ngIf="form.get('dni')?.hasError('required') && form.get('dni')?.touched">
            El campo DNI <strong>es obligatorio</strong>
          </span>

          <input formControlName="tel" type="text" class="form-control mt-2"  placeholder="Teléfono">
          <span *ngIf="form.get('tel')?.hasError('required') && form.get('tel')?.touched">
            El campo teléfono <strong>es obligatorio</strong>
          </span>

          <input formControlName="email" type="text" class="form-control mt-2"  placeholder="E-mail">
          <span *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
            El campo E-mail <strong>es obligatorio</strong>
          </span>

          <input formControlName="direccion" type="text" class="form-control mt-2" placeholder="Dirección">
          <span *ngIf="form.get('direccion')?.hasError('required') && form.get('direccion')?.touched">
            El campo dirección <strong>es obligatorio</strong>
          </span>

          <div class="row mt-4 text-center">
            <div class="col-6">
              <button type="button" class="btn btn-secondary" routerLink="/listado-pacientes">Volver</button>
           </div>
            <div class="col-6">
              <button [disabled]="form.invalid" class="btn btn-primary">Aceptar</button>
            </div>
           </div>
        </form>
      </div>
    </div>
  </div>
</div>
