
.navbar {
  min-width: 350px;
  text-align: center;

  a {
      color: white;
      text-decoration: none;
  }
}

#navbarColor01 {
  //text-align: center;

  ul {
    margin-top: 10px;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}



.navbar-expand-lg {
  ul {
    margin-top: 0;
  }


}








