
.navbar {
  min-width: 350px;
  text-align: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.486);

  a {
      color: white;
      text-decoration: none;
  }

  a {
    padding: 0.6em;
  }

}

#navbarColor01 {
  //text-align: center;

  ul {
    margin-top: 10px;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}



  a:hover {
    border-bottom: 2px solid white;
    color:rgb(22, 110, 110);
  }

  .router-link-active {
    font-weight: 800;
    border-bottom: 2px solid white;
    border-radius: 3px 3px 0 0;
    background-color: rgba(255, 255, 255, 0.265);
  }

@media (min-width: 992px) {

  nav {
    padding: 1em 2em;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
  li {
    margin-left: 60px;
  }

}






