
.navbar {
  min-width: 290px;
  text-align: center;

  ul {
    list-style-type: none;
    text-align: center;
    display: flex;
  }

  a {
      color: white;
      text-decoration: none;
  }
}












